

$container-width:100%;

html, body{
	width: $container-width;
    height:100%;
    margin: 0px;
    padding: 0px;
}

*{
    box-sizing: border-box;
}

//Default direction is row
@mixin flexDisplayDirection( $direction:row){
    display:flex;
    flex-direction: $direction;
}
//Default value for  flex-direction is row and for flex-wrap is wrap 
@mixin flexDisplayDirectionAndWrap( $direction:row, $wrap:wrap){  
    display:flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

td:hover{
    cursor: pointer;
}

.infoTable{
    border-collapse: collapse;
    width: 65%;
    font-size: 13px;

    td {
        height: 30px;
        width:220px;
        padding-top:10px;
     }
    
    td:hover{
        cursor: default;
    }
    
    span:hover{
        cursor: pointer;
    }
}

.main-container{
@include flexDisplayDirection(column);
}

.main-header-container{
    @include flexDisplayDirectionAndWrap;
    width: $container-width;
    justify-content: flex-end;
    position: fixed;
    background-color: white;
    z-index: 2;
}
.cathegorySelection{
    @include flexDisplayDirectionAndWrap;
    width: $container-width;
    margin-top: 45px;
    position:fixed;
    z-index: 3;

    div{
        line-height: 40px;
    }

    table{
        display:none;
    }

    td{
        padding-right:25px;
    }
}

.supportContainer
{
    @include flexDisplayDirectionAndWrap;
    width: $container-width;
    justify-content: space-between;
    align-items: center;
    height:82px;
    background-color: black;
    padding-left: 350px;
    padding-right: 350px;

    img {
        height:70px;
    }
}

.headerTable{
    @include flexDisplayDirection(row-reverse);
    tr{
        display:flex;
        flex-wrap: wrap;
    }

    td{
        padding-right: 25px;
    }
}

.headerTable2{
    @include flexDisplayDirection(row-reverse);
    tr{
        display:flex;
        flex-wrap: wrap;
        position:fixed;
        top:0px;
        right:0px;
    }
    input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: none;
        float: left;
        width: 250px;
        height:35px;
        display:none;
    }    
}

.divID2{    
    margin-top:60px;
}

// Any container that needs width 100% goes here
.divID3, .divID4, .divID5, .divID6, .divID7, .divID8 table{
    width: $container-width;
}

.divID3 img {
    height: 420px;
    width: $container-width;
}

.divID4 table {
    width: $container-width;

    img {
        height: 420px;
        width:600px;    
    }
}

.divID5 table{
    width: $container-width;

    img{       
        height:460px;
        width:420px;
    }
}

.divID6 table {
    width: $container-width;
    padding-top:50px;
    margin-bottom: 60px;

    td{
        padding-left:15px;        
    }
    tr{
        display: flex;
        flex-wrap: wrap;
    }
    
    img{
        height:350px;
        width:250px;
    }
}

.divID7 table {
    width: $container-width;
    margin-bottom: 60px;
    
    img{
        height:350px;
        width: $container-width;
    }
}

.divID8{
    width: $container-width;
    margin-top:100px;

    table img{
        height:250 px;
        width: $container-width;
    }
}

.header-box1 {   
    padding-top:5px;
    background-size: 200px 30px;
    background-repeat: no-repeat;
    width:15%;

    img {
        width:150px;
        height:20px;
        margin-top: 10px;
        margin-left: 25px;
    }
}

.header-box2{    
    width:60%;
    font-family: Arial, Helvetica, sans-serif;
}

.header-box3{    
    width:25%;
    float:left;
    justify-content: end;
}

.infoTableDiv{
    display:flex;
    justify-content: center;
    width: $container-width;
}
    
 .footerDiv
 {
    @include flexDisplayDirection;
    justify-content: space-between;
    width: 45%;
    padding-top: 25px;
    font-size: 12px;
 }


